<%= turbo_frame_tag 'link-form' do %>
  <%= form_with(model: link, class: 'border border-slate-700 rounded p-4') do |form| %>
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col">
        <%= form.label :target, class: 'label' %>
        <div class="flex items-center gap-x-1 bg-slate-600 rounded">
          <span class="text-slate-400 pl-4 pr-2">https://</span>
          <%= form.text_field :target, class: 'w-full input-with-add-on' %>
        </div>
        <% if form.object.errors.key?(:target) %>
          <p class="mt-1 error text-sm text-red-400">
            <%= form.object.errors.full_messages_for(:target).join(', ') %>
          </p>
        <% end %>
      </div>

      <div>
        <%= form.label :never_expire, class: 'label checkbox-label' do %>
          <%= form.check_box :never_expire, class: 'checkbox' %>
          <%= Link.human_attribute_name(:never_expire) %>
        <% end %>
      </div>

      <div class="flex flex-col">
        <%= form.submit t('link.actions.add'), class: 'button' %>
      </div>

      <div class="text-center">
        <%= link_to t('shared.actions.cancel'), root_path, class: 'shy-link', 'data-turbo-frame': '_top' %>
      </div>
    </div>
  <% end %>
<% end %>
