<li class="bg-slate-800 flex flex-col p-8 pb-2 rounded" id="<%= dom_id link %>">
  <div class="flex justify-between items-center">
    <%= link_to redirect_url(token: link.token), redirect_url(token: link.token), target: :_blank, class: 'funky-link' %>
    <div>
      <span class="flex px-2 py-1 bg-yellow-400 rounded text-black" title="visits"><%= link.redirect_count %></span>
    </div>
  </div>

  <div class="flex text-sm text-slate-500 justify-between">
    <div class="text-slate-400">
      <%= link.target_with_https %>
    </div>
    <div class="text-slate-400">
      <%= link.decorate.display_expires_at %>
    </div>
  </div>

  <div class="my-2">
    <%= button_to t('shared.actions.delete'), link_path(link), method: :delete, form: { 'data-turbo-confirm': 'Do you really want to delete this?' }, class: 'dangerous-button text-sm' %>
  </div>
</li>
