<!DOCTYPE html>
<html>
  <head>
    <title>prxy.li</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="px-4">
      <div class="max-w-3xl mx-auto flex justify-between items-baseline">
        <span>prxy.li</span>
        <% if signed_in? %>
          <%= button_to 'Sign out', sessions_path, method: :delete, class: "opacity-30 hover:opacity-100 transition text-xs" %>
        <% end %>
      </div>
    </header>
    <main class="px-4">
      <div class="max-w-3xl mx-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
